<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <a href="#home">HOME</a> |
                <a href="#menu">MENU</a> |
                <a href="#location">LOCATION</a> |
                <a href="#aboutus">ABOUT US</a> |
                <a href="#contactus">CONTACT US</a>
            </nav>
        </header>

        <section id="home" class="content-container">
            <h2 class="welcome-heading">Welcome to Jay Fast Foods</h2>
            <!-- Add content for the home section -->
        </section>

        <section id="menu" class="content-container">
            <h2>Our Menu</h2>
            <div class="grid-container">
                <img src="{{ url_for('static', filename='menu1.jpg') }}" alt="Menu item 1">
                <img src="{{ url_for('static', filename='menu2.jpg') }}" alt="Menu item 2">
                <img src="{{ url_for('static', filename='menu3.jpg') }}" alt="Menu item 3">

                <!-- Add menu items here -->
            </div>
        </section>

        <section id="location" class="content-container">
            <h2>Location</h2>
            <p>NIT Warangal, Hanamkonda</p>
            <!-- Add map widget here -->
        </section>

        <section id="contactus" class="content-container">
            <h2>Contact Us</h2>
            <p>Got questions? Want to place an order? Call us at +91791234567 or email us at info@atliqfastfood.com</p>
        </section>

        <iframe class="chat-bot" width="350" height="400" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/c0ccbd57-9118-446d-bd6e-41e63039b352"></iframe>
    </div>
    <footer>
        <p>&copy; 2024 J for Joy Fast Food</p>
    </footer>
</body>

</html>




